apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
spec:
  serviceName: "mysql-service"
  replicas: 1
  selector:
    matchLabels:
      app: my-mysql
  template:
    metadata:
      labels:
        app: my-mysql
    spec:
      containers:
      - name: mysql-container
        image: anouarelanda/mysql:8.0
        ports:
        - containerPort: 3306
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "secret"
        - name: MYSQL_DATABASE
          value: "user_microservice"
        resources:
          requests:
            cpu: "500m"  # Demande 500 milli-cores de CPU
            memory: "512Mi"  # Demande 512 MiB de mémoire
          limits:
            cpu: "1000m"  # Limite à 1000 milli-cores de CPU
            memory: "1024Mi"  # Limite à 1024 MiB de mémoire
        volumeMounts:
        - name: mysql-persistent-storage
          mountPath: /var/lib/mysql
  volumeClaimTemplates:
  - metadata:
      name: mysql-persistent-storage
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 10Gi

# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: mysql-deployment
# spec:
#   replicas: 1
#   selector:
#     matchLabels:
#       app: my-mysql
#   template:
#     metadata:
#       labels:
#         app: my-mysql
#     spec:
#       containers:
#       - name: mysql-container
#         image: anouarelanda/mysql:8.0
#         ports:
#         - containerPort: 3306
#         env:
#         - name: MYSQL_ROOT_PASSWORD
#           value: "secret"
#         - name: MYSQL_DATABASE
#           value: "user_microservice"
#         resources:
#           requests:
#             cpu: "500m"  # Demande 500 milli-cores de CPU
#             memory: "512Mi"  # Demande 512 MiB de mémoire
#           limits:
#             cpu: "1000m"  # Limite à 1000 milli-cores de CPU
#             memory: "1024Mi"  # Limite à 1024 MiB de mémoire


---
apiVersion: v1
kind: Service
metadata:
  name: mysql-service
spec:
  selector:
    app: my-mysql
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: mon-application-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      initContainers:
      - name: init-db
        image: busybox
        command: ['sh', '-c', 'until nc -z mysql-service 3306; do echo waiting for mysql; sleep 2; done;']
      containers:
      - name: backend-container
        image: anouarelanda/monapp-nodejs:latest
        ports:
        - containerPort: 3000
        resources:
          requests:
            cpu: "250m"  # Demande 250 milli-cores de CPU
            memory: "128Mi"  # Demande 128 MiB de mémoire
          limits:
            cpu: "500m"  # Limite à 500 milli-cores de CPU
            memory: "256Mi"   # Limite à 256 MiB de mémoire
      - name: frontend
        image: anouarelanda/monapp-react:latest
        ports:
        - containerPort: 5000
        resources:
          requests:
            cpu: "250m"  # Demande 250 milli-cores de CPU
            memory: "128Mi"  # Demande 128 MiB de mémoire
          limits:
            cpu: "500m"  # Limite à 500 milli-cores de CPU
            memory: "256Mi"  # Limite à 256 MiB de mémoire

---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: my-app
  ports:
    - protocol: TCP
      port: 3000
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  selector:
    app: my-app
  ports:
    - protocol: TCP
      port: 5000
  type: LoadBalancer
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: mon-application-deployment-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: mon-application-deployment
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 70  # Cible 70% d'utilisation du CPU
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: mysql-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: StatefulSet
    name: mysql
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 70  # Cible 70% d'utilisation du CPU


