# This workflow will push docker image of the app to docker hub and deploy the containerized app (docker) to kubernetes

name: build and deploy
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: build docker image and push to docker hub
    runs-on: ubuntu-latest
    
    steps:   
    - name: checkout code
      uses: actions/checkout@v3
    
    #Docker
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and push to registry
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: docchai/ecamazon_users:latest
        context: app
        
  deploy:
    name: Deploy to Kubernetes
    runs-on: ubuntu-latest
    steps:
    - name: checkout code
      uses: actions/checkout@v3
    
    - name: Create kubeconfig
      run: |
        mkdir ${HOME}/.kube
        echo ${{ secrets.KUBE_CONFIG }} | base64 --decode > ${HOME}/.kube/config
        cat ${HOME}/.kube/config
        
    - name: Use context
      run: kubectl config use-context octobay-api

    - name: Deploy to Kubernetes
      run: kubectl apply -f ../../app/kube.yaml
 

  
